{% extends "template.html"%}
<!DOCTYPE html>
<html lang= "en">
<head>
<title>{% block titile %} {% endblock%}</title>
</head>
<body>

<h1>Its about cars</h1>
 {% block content%}
<p class = "body"> HOW IS MPG TESTED?
<br>
Miles per gallon is tested by EPA, the EPA is a federal company that does most of the testing for MPG. They are always changing their methods 
but the had mostly used circle cycles where they drive cars around in a circle for a certain amount of time. They drive the cars under different circumstances
<br> <img src="{{url_for('static', filename = 'car.gif')}}"> </p>

 </p>


<footer>
  <p style = "font-size:100%;"><b>Footer</b><br>
https://jalopnik.com/how-fuel-economy-is-measured-and-why-you-get-different-1716232721 <br>                                              
https://www.britannica.com/science/horsepower </footer>

  {% endblock%}


</html>

